################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RentCar
/RentCar/bin/Debug/net5.0
