@import 'login.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f6f7fa;
}

/*.addelancategory .addelan {
    width: 50%;
    margin: 30px auto;
    background-color: white;
    padding: 20px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

    .addelan .addelanform p {
        margin-bottom: 0px;
    }

    .addelan .addelanform {
        width: 50%;
        margin: auto;
    } 
        .addelan .addelanform select,
        .addelan .addelanform input,
        .addelan .addelanform textarea {
            width: 100%;

            margin: 10px auto;
            padding: 5px;
        }
        .addelan .addelanform button {
            width: 50%;
            background-color: forestgreen;
            border: none;
            color: white;
            padding: 4px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 20px auto;
            cursor: pointer;
            border-radius: 5px;
        }

        .containersecimpenceresi {
            min-height: 635px;
            padding: 80px;
        }

    .containersecimpenceresi .secimler {
        width: 80%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

        .containersecimpenceresi .secimler .addNewOption {
            text-align: center;
            background-color: cornflowerblue;
            width: 34%;
            height: 80px;
            margin-top: 50px;
            color: white;
            padding-top: 20px;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }

            .containersecimpenceresi .secimler .addNewOption a {
                color: white;
                text-decoration: none;
                cursor: pointer;
                font-size: 20px;
            }
.addelancategory  .secimpenceresi {
    text-align: center;
    cursor: pointer;
    margin: 20px;
  }

    .secimpenceresi a {
        color: black;
        text-decoration: none;
    }

    .secimpenceresi span:hover {
        border-bottom: 1px solid #8c0c0c;
    }


.birSecim {
    width: 35%;
    margin:auto;
    text-align: center;
    padding: 10px 30px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

    .birSecim input, .birSecim select {
        width: 100%;
        margin: 10px auto;
        padding: 5px;
    }

    .birSecim button {
        background-color: #4CAF50;*/ /* Green */
        /*border: none;
        color: white;
        padding: 5px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 10px 2px;
        cursor: pointer;
        border-radius: 5px;
    }*/

.detailscontainer {
    width: 80%;
    /* height: 600px; */
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

    .detailscontainer .carimgs {
        width: 60%;
        padding: 10px 60px;
    }

.carimgs .top {
    /* background-color: #8c0c0c; */
    position: relative;
    height: 80%;
}

    .carimgs .top img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: 0.2px solid gray;
    }

.carimgs button {
    position: absolute;
    border: none;
    background-color: transparent;
    /* background-color: blue; */
    width: 60px;
    height: 100%;
    cursor: pointer;
}

    .carimgs button:hover i {
        text-shadow: white 2px 0 10px;
    }

.bottom::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: #8070d4;
    border: 6px solid rgba(0, 0, 0, 0.2);
}

.carimgs .right {
    right: 0px;
}

.carimgs .bottom {
    max-width: 100%;
    height: 20%;
    border: 0.2px solid gray;
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
}


.bottom::-webkit-scrollbar {
    height: 5px;
    width: 4px;
    background: rgb(221, 221, 221);
    border: 0.2px solid gray;
}

.bottom::-webkit-scrollbar-thumb:horizontal {
    background: rgb(36, 36, 36);
    border-radius: 0px;
}

.activeimg {
    border: 0.2px solid #8c0c0c;
}

.carimgs .bottom img {
    width: 20%;
    border: 0.2px solid gray;
}

.cardetails {
    width: 40%;
}

    .cardetails .detailsxususiyyetler ul {
        margin: 20px 0px;
        padding: 5px;
        list-style: none;
        color: #333;
        font-size: 20px;
    }

        .cardetails .detailsxususiyyetler ul li {
            margin-right: 30px;
        }

            .cardetails .detailsxususiyyetler ul li i {
                margin-right: 5px;
                color: #8c0c0c;
            }

    .cardetails .btnsifaris {
        width: 100%;
        margin: auto;
        text-align: center;
        background-color: #2ea44f;
        padding: 5px;
    }

        .cardetails .btnsifaris a {
            color: white;
            text-decoration: none;
        }

.divlist {
    width: 90%;
    min-height: 635px;
    margin: 100px auto;
    /* background-color: brown; */
}

    .divlist img {
        width: 100px;
        object-fit: cover;
    }

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    background-color: white;
}

    table td, th {
        padding: 5px;
        border: 1px solid #ddd;
    }

    table thead {
        background-color: #323232;
        color: white;
    }

    table a {
        text-decoration: none;
        color: white;
        padding: 3px 8px;
        margin: 0px 5px;
    }

.btnedit {
    background-color: #198754;
}

.btndelete {
    background-color: #dc3545;
}

.btndetails {
    background-color: #0d6efd;
}



.photoarea {
    width: 80%;
    margin: auto;
    border: 1px solid gray;
    display: flex;
}

    .photoarea .item {
        width: 30%;
        margin: 5px;
        position: relative;
    }

        .photoarea .item img {
            width: 100%;
        }

        .photoarea .item input {
            display: none;
        }

        .photoarea .item::after {
            content: "remove";
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.5);
            position: absolute;
            top: 0;
            left: 0;
            color: white;
            opacity: 0;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .photoarea .item:hover::after {
            opacity: 1;
        }
