 
<div class="body2">
        <div class="div1 anm1">
            <div class="yazi">
                <h3>Ucuz avto kirayə qiymətləri</h3>
                <p>When you use a theme created by Start Bootstrap, you know that the theme will look great on any
                    device,
                    whether it's a phone, tablet, or desktop the page will behave responsively!</p>
            </div>
            <div class="sekil">
                <img src="/imgs/haqqimizda1.jpg" alt="">
            </div>
        </div>
        <div class="div1 anm2">
            <div class="sekil">
                <img src="/imgs/haqqimizda2.webp" alt="">
            </div>
            <div class="yazi">
                <h3>Müxtəlif avtomobil icarəsi</h3>
                <p>When you use a theme created by Start Bootstrap, you know that the theme will look great on any
                    device,
                    whether it's a phone, tablet, or desktop the page will behave responsively!</p>
            </div>
        </div>
        <div class="div1 anm3">
            <div class="yazi">
                <h3>Ən yaxşı xidmət</h3>
                <p>When you use a theme created by Start Bootstrap, you know that the theme will look great on any
                    device,
                    whether it's a phone, tablet, or desktop the page will behave responsively!</p>
            </div>
            <div class="sekil">
                <img src="~/imgs/haqqimizda3.jpg" alt="">
            </div>
        </div>
    </div>

    <script>
  
    </script>