
<div class="containersecimpenceresi">
    <div class="birSecim">
        <h1>Marka əlavə edin</h1>
        <div class="addNewMarkForm">
            <form action="">
                <input type="text" placeholder="Marka">
                <button>Əlavə et</button>
            </form>
        </div>
    </div>
</div>

