
<div class="containersecimpenceresi">
    <div class="birSecim">
        <h1>Marka əlavə edin</h1>
        <div class="addNewMarkForm">
            <form action="">
                <input type="text" placeholder="Marka" id="newMark">
                <button class="submitMark">Əlavə et</button>
            </form>
        </div>
    </div>
</div>

<script>
    $('.submitMark').on("click",function(e) {
    e.preventDefault()

      var frontMarkName = $("#newMark").val();

        $.ajax({
                 type: "POST",
                 url: '@Url.Action("SaveNewMark","Home")',
                 data:{"markName":frontMarkName},
                 cache: false,
                  dataType: "json",
                 success:function (data) {
                      Swal.fire({
                             icon: 'success',
                             title: 'Yeni ' + frontMarkName + ' markası əlavə olundu',
                             showConfirmButton: false,
                             timer: 1500
                          })
                   $("#newMark").val("");
                 },
                 error: function () {
                     Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Xəta baş verdi!',
                          })
                 }
             });
    });


</script>

