

<div class="addNewMark">
    <h1>Seçim əlavə edin</h1>
    <div class="addNewMarkForm">
        <form action="">
            <input type="text" placeholder="Marka">
        </form>
    </div>
</div>

