<div class="containersecimpenceresi">
    <div class="birSecim">
        <h1>Mühərrik tipi əlavə edin</h1>
        <div class="addNewEngineTypeForm">
            <form action="">
                <input type="text" placeholder="Mühərrik tipi">
                  <button>Əlavə et</button>
            </form>
        </div>
    </div>
</div>
