
<div class="containersecimpenceresi">
    <div class="birSecim">
        <h1>Marka əlavə edin</h1>
        <div class="addNewMarkForm">
            <form action="">
                <input type="text" placeholder="Marka" id="newMark" >
                <button class="submitMark" >Əlavə et</button>
            </form>
        </div>
    </div>
</div>

<script>
       $('.submitMark').on("click",function(e) {
       e.preventDefault()

         var markName = $("#newMark").val();
         console.log(markName)

           $.ajax({
                    type: "POST",
                    url: '@Url.Action("SaveNewMark","Home")',
                    data: markName,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success:function (data) {
                         Swal.fire({    
                                icon: 'success',
                                title: 'Yeni marka əlavə olundu',
                                showConfirmButton: false,
                                timer: 1500
                             })
                    },
                    error: function () {
                        alert("Error while inserting data");
                    }
                });
       });


</script>

