
<div class="containersecimpenceresi">
    <div class="birSecim">
        <h1>Model əlavə edin</h1>
        <div class="addNewModelForm">
            <form action="">
                <select class="selectmarka">
                    <option value="" selected disabled>MARKA</option>
                        <option value="">marka1</option>
                        <option value="">marka1</option>    
                </select>
                <input type="text" placeholder="Model">
                  <button>Əlavə et</button>
            </form>
        </div>
    </div>
</div>
