
<div class="containersecimpenceresi">
    <div class="birSecim">
        <h1>Kateqoriya əlavə edin</h1>
        <div class="addNewCategoryForm">
            <form action="">
                <input type="text" placeholder="Kateqoriya">
                  <button>Əlavə et</button>
            </form>
        </div>
    </div>
</div>
