
<div class="containersecimpenceresi">
    <div class="addcategory">
        <h1>Seçim əlavə edin</h1>
        <div class="addcategoryform">
            <form action="">
                <input type="text" placeholder="Marka">
                <input type="text" placeholder="Model">
                <input type="text" placeholder="Mühərrik tipi">
                <input type="text" placeholder="Kateqoriya">
            </form>
        </div>
    </div>
</div>
<script>

</script>