
<div class="containersecimpenceresi">
    @*<div class="addcategory">
        <h1>Seçim əlavə edin</h1>
        <div class="addcategoryform">
        <form action="">
        <input type="text" placeholder="Marka">
        <input type="text" placeholder="Model">
        <input type="text" placeholder="Mühərrik tipi">
        <input type="text" placeholder="Kateqoriya">
        </form>
        </div>
        </div>*@
    <div class="secimler">
        <div class="addNewOption">
            <a href="/Home/AddNewMark">Yeni marka əlavə et</a>
        </div>
        <div class="addNewOption">
            <a href="/Home/AddNewModel">Yeni model əlavə et</a>
        </div>
        <div class="addNewOption">
            <a href="/Home/AddNewEngineType">Yeni mühərrik tipi əlavə et</a>
        </div>
        <div class="addNewOption">
            <a href="/Home/AddNewCategory">Yeni kateqoriya əlavə et</a>
        </div>
    </div>
</div>
<script>

</script>