 


<div class="backgroundimg">
        <h1 class="sloqan1"> SƏRFƏLİ QİYMƏT</h1>
        <h1 class="sloqan2"> YÜKSƏK KEYFİYYƏT</h1>
        <a href=""><i class="fa-solid fa-arrow-right"></i></a>
</div>