 <div class="divlist">
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Şekil</th>
                    <th>Marka</th>
                    <th>Model</th>
                    <th>Kateqoriya</th>
                    <th>Qiymət</th>
                    <th>İl</th>
                    <th>Yürüş</th>
                    <th>Mühərrik tipi</th>
                    <th>Mühərrik həcmi</th>
                    <th>Əlavə olunma vaxtı</th>
                    <th>Əlavə edən şəxs</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td><img src="/imgs/mustang1.webp" alt=""></td>
                    <td>Marka</td>
                    <td>Model</td>
                    <td>Ekanom</td>
                    <td>50 azn / gün</td>
                    <td>2012</td>
                    <td>5000 km</td>
                    <td>Avtomat</td>
                    <td>2.0 l</td>
                    <td>02.02.22 01:01</td>
                    <td>Nermin</td>
                    <td>
                        <a href="" class="btnedit"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a href="" class="btndelete"><i class="fa-solid fa-trash-can"></i></a>
                        <a href="" class="btndetails"><i class="fa-solid fa-magnifying-glass"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><img src="/imgs/mustang1.webp" alt=""></td>
                    <td>Marka</td>
                    <td>Model</td>
                    <td>Ekanom</td>
                    <td>50 azn / gün</td>
                    <td>2012</td>
                    <td>5000 km</td>
                    <td>Avtomat</td>
                    <td>2.0 l</td>
                    <td>02.02.22 01:01</td>
                    <td>Nermin</td>
                    <td>
                        <a href="" class="btnedit"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a href="" class="btndelete"><i class="fa-solid fa-trash-can"></i></a>
                        <a href="" class="btndetails"><i class="fa-solid fa-magnifying-glass"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>